$gradientImage1: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-8.png);
$gradientImage2: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-7.png);
$gradientImage3: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-6.png);
$gradientImage4: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-5.png);
$gradientImage5: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-4.png);
$gradientImage6: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-3.png);
$gradientImage7: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-2.png);
$gradientImage8: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image-1.png);
$gradientImage9: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%), url(Images/Image.png);